@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

:root {
	--gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
	--bg-color: #343d4b;
	--bg-color-light: #ffffff80;
	--bg-color--card: #222831;

	--main-text-color: #ffffff;

	--main-border-radius: 25px;
	--secondary-border-radius: 15px;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bg-color);
	color: var(--main-text-color);
}
